
  *{
      box-sizing: border-box;
      /* border: 1px solid black; */
      /* grid-auto-flow: row; */
      /* background-color: #F6F7F9; */
  }

  body{
    margin: 0px;
  }
  /* template */ /*  */
  /* 預設 */
  h2,h3,h4,h5,h6{
    font-family: 'Noto Sans TC', Regular;
    color: #2E6669;
  }
  p{}
  
/* header */

.main-header{
    position: fixed;
    display: flex;
    top: 0;
    z-index: 1;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: white;
    font-family: 'Noto Sans TC', sans-serif;
    -webkit-text-stroke: #2E6669 0.3px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.logo img{
    display: block;
    height: 40px;     
    width: auto;
}




/* checkbox */
.menu-switch{
    display: none;
}

@media screen and (max-width: 768px) {
    .hb{
        position: relative;
        display: block;
        width: 45px;
        height: 45px;
        border: rgba(0, 0, 0, 0.540) solid 3px;
        border-radius: 6px;
        background-color: transparent;
    }
    .hb .bar{
        display: block;
        width: 75%;
        height: 3px;
        position: relative;
        margin: 0% auto;
        
        background-color: #2E6669;
    }
    .bar1 {
        top: 12px;
    }
    .bar2 {
        top: 18px;
    }
    .bar3{
        top: 25px;
    }
    .main-menu{
        position: absolute;
        /* display: none; */
        top: 100%;
        left: -100%;
        background-color: #fff;
        width: 60%;
        height: calc(100svh - 60px);
        transition: left .6s;
    }
    .main-menu ul li ~ li{
        /* border-top: 1px solid #2E6669; */
    }
    .main-menu ul li a{
        display: block;
        text-decoration: none;
        padding: 10px;
        font-size: 18px;
        color: #2E6669;
        background-color: white;
    }
    .main-header:has(.menu-switch:checked) .main-menu{
            left: 0px;
            z-index: 1;
    }
}
@media screen and (width >= 768px) {
    .hb { 
        display: none; 
    }

    .main-menu > ul {
        display: flex ;
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .main-menu li {
        display: block;
    }
    .main-menu a{
        color: #2E6669;
        text-decoration: none;
        display: block;
        padding: 10px 1em;
        background-color: white;
    }
}

body,html{
  height: 100%;
  font-family: "Noto Sans TC"
}

    .container {
        margin: 0;
        padding: 0;
        list-style: none;
        width: 100%;
        height: auto;
        display: flex;
        background-color: black;
        margin: auto;
        justify-content: flex-start;
    }
    .banner{
        width: 100%;
        height: 615px;
        background: url(./img/banner.png);
        background-size: cover;
    }

    .banner-txt{
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            margin-left: 10%;
    }
    .banner a{
        text-decoration: none;
    }
    button {
      margin-top: 24px;
      padding: 12px 24px;
      background-color: #2E6669;
      color: white;
      border: none;
      border-radius: 10px;
      cursor: pointer;
    }
    
    button:hover{
        background-color: white;
        color: #2E6669;
      }

.bridge{
  width: cover;
  height: 10%;
  text-align: center;
  margin: 4.5%;
}

/* partOne */

.partOne{
    display: grid;
  margin: 0px 15%;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-auto-flow: row;
  gap: 20px 15%;
  
}

.partOne .item{
    /* border: 1px solid red; */
    text-align: center;
}

.partOne img{
  width: 80%;
  height: auto;
    justify-self: center;
}

/* partTwo */

.partTwo{
    display: grid;
  margin: 0% 5%;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows:max-content;
  gap: 0px 5%;
}

.partTwo .item{
    /* border: 1px solid red; */
    text-align: left;
}

.partTwo img{
  width: 100%;
  height: auto;
}
.partTwo ul{
    padding: 5%;
    margin: auto 0%;
    /*  */
    list-style: none;
    padding-left: 0;
}

/* partThree */

.partThree{
    display: grid;
  width: 100%;
  background-color: #E0F2F1;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-flow: column;
    column-gap: 6.25%;
    padding-left: 6.25%;
    padding-right: 6.25%;
    place-self: center center;
}

.partThree .item{
    /* border: 1px solid red; */
    place-self: center center;
    margin: 6.25% auto;  
    text-align: center;
}

.partThree img{
    size: fit-content;
    justify-self: center;
}

.partThree ul{
    list-style: none;
    padding-left: 0;
}

.partThree li{
    border:#2E6669 dashed 2px ;
}

  /*pagetop*/
  .pagetop {
    width: 60px;
    height: 60px;
    position: fixed;
    right: 9%;
    bottom: 15%;
    border-radius: 50%;
    border: #2E6669 solid 1px;
    color: #2E6669;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    font-size: small;
  }
  .pagetop:hover {
    background-color: #2E6669;
    color: #fff;
    }


.partFour{
    width: 100%;             
    display: flex;           
    flex-direction: column;  
    align-items: center;     
    margin: 0;
    padding: 40px 0; /*  */
}

.partFour .card:nth-child(odd){
    flex-direction: row-reverse;
}
.partFour .card {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;     /*  */
    /* border: 1px solid red; */
     margin: 30px 0;/*  */
}


.partFour .card .pic{
    width: 65%;
    display: flex;
    justify-content: center;
}


.partFour .card .pic img{
    width: 75%;
    height: auto;
}


.partFour .card .txt{
    width: 35%;
    padding: 0 40px; 
}


/* partFive */
  
.partFive {
    height: fit-content;
    width: cover;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
    align-items: center;
}
.partFive .contence{
  width: 60%;
  height: 90%;
  position: relative; 
  padding: 10px auto;
  display: flex; 
  overflow: auto;
}
.partFive .contence img{
  scale: 80%;
}

.partFive .contence .arrow:hover{
  
}
.partFive .contence::-webkit-scrollbar {
    display: none;
}


/* footer */

.main-footer{
    position: relative;
    display: flex;
    bottom: 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #E0F2F1;
    font-family: 'Noto Sans TC', sans-serif;
    -webkit-text-stroke: #2E6669 0.3px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.logo img{
    display: block;
    height: 40px;     
    width: auto;
}



