@keyframes myCartFadeIn {
  from {
    opacity: 0;
    transform: translateX(100px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes myCartFadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.my-toast-container {

  &.swal2-container .swal2-popup.my-toast-offset {
    margin-top: 70px !important;
    margin-right: 10px !important;
    font-size: 14px !important;
    border: 2px solid $white !important;
    border-radius: $radius_md !important;
    box-shadow: $shadow;

    &.my-anim-show {
      animation: myCartFadeIn 0.5s forwards !important;
    }

    &.my-anim-hide {
      animation: myCartFadeOut 0.5s forwards !important;
    }
  }

  .swal2-icon {
    padding-left: 8px;
    border: none;
  }

  .swal2-title {
    margin: .5em 0.1em;
    font-size: 16px;
    color: $primaryDark;
  }
}