/* src/assets/main.scss */
@import './reset';
@import './variables';

body {
  font-family: 'Noto Sans TC', sans-serif;
  color: $black;
}

// Material Symbols icon 實心設定
.material-symbols-rounded {
  font-variation-settings:
    'FILL' 1,
    'wght' 400, 
    'GRAD' 0,
    'opsz' 24;
  display: inline-flex;
  vertical-align: middle;
  font-size: 24px;
}